:root {
  --second-background-color: #F5F4FA;
  --main-text-color: #212121;
  --footer-background-color: #2F303A;
  --paragraph-text-color: #757575;
  --accent-color: #2196F3;
  --main-paragraph-color: #FFFFFF;
  --contact-info-color: #rgba(255, 255, 255, 0.6);
  --first-background-color: #E5E5E5;
  --second-background-color: rgba(245, 244, 250, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto";
  --secondary-font: "Raleway";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 14px;
  line-height: 1.7;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.link-current {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link.link-current {
  color: var(--accent-color);
}

.item {
  list-style: none;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--main-paragraph-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  border: solid transparent;
  padding: 10px 32px;
  /* min-width: 200px; */
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.hero-button.hero-button:hover, .hero-button.hero-button:focus {
  background-color: #188ce8;
}

.portfolio-button {
  background-color: var(--second-background-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  display: inline-block;
  padding: 6px 22px;
  border: solid transparent;
  border-radius: 4px;
  min-width: 105;
  height: 38px;
  -webkit-transition: color var(--transition), background-color var(--transition);
  transition: color var(--transition), background-color var(--transition);
}
.portfolio-button.portfolio-button:not(last-child) {
  margin-right: 8px;
}
.portfolio-button.portfolio-button:hover, .portfolio-button.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--main-paragraph-color);
}

.portfolio-button-current {
  color: #fff;
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  min-width: 73px;
  height: 38px;
  border: solid transparent;
  padding: 6px 22px;
  display: inline-block;
  margin-right: 8px;
}
.portfolio-button-current.portfolio-button-current:hover, .portfolio-button-current.portfolio-button-current:focus {
  background-color: #188ce8;
}

.logo__link {
  color: var(--main-text-color);
  font-family: var(--secondary-font), sans-serif;
  text-decoration: none;
}

.logo--color {
  color: var(--accent-color);
}

.logo__link--footer {
  color: var(--accent-color);
  font-family: var(--secondary-font), sans-serif;
  text-decoration: none;
}

.logo, .logo-color {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.container {
  margin-left: 0;
  margin-right: 0;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(175, 177, 184);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  -webkit-transition: background-color var(--transition), fill var(--transition);
  transition: background-color var(--transition), fill var(--transition);
}

.social-media__item:hover .social-media__link,
.social-media__item:focus .social-media__link {
  background-color: var(--accent-color);
}

.social-media__item:hover .social-media__icon,
.social-media__item:focus .social-media__icon {
  fill: #FFFFFF;
}

.social-media__item:not(:last-child) {
  margin-right: 10px;
}

.social-media__icon {
  fill: rgb(175, 177, 184);
}

.social-media-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-media__item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.social-media__item-footer.social-media__item-footer:not(:last-child) {
  margin-right: 10px;
}
.social-media__item-footer.social-media__item-footer:hover, .social-media__item-footer.social-media__item-footer:focus {
  background-color: var(--accent-color);
}

.social-media__link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.social-footer {
  margin-left: 70px;
}

.social-media__icon-footer {
  fill: #FFFFFF;
}

.hero-title {
  max-width: 650px;
  color: var(--main-paragraph-color);
  font-size: 44px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title {
  color: #212121;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
}

.title .discription {
  color: var(--main-text-color);
}

.title-footer {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  margin-bottom: 0px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: block;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--paragraph-text-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth-nav .item .link:hover,
.auth-nav .item .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.contacts {
  margin-right: 10px;
}
.contacts use {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.hero {
  padding: 200px 0px;
  background-color: var(--footer-background-color);
  color: var(--main-paragraph-color);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 1600px;
  max-height: 600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img-background.jpeg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img-background.jpeg);
}

/* Section 1 */
/* Section2 features */
.discription {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.our-features {
  padding: 94px 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-list__item:not(:last-child) {
  margin-right: 30px;
}
.features-list__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features-list__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.features-list__description {
  color: var(--paragraph-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* section 3 work discription */
.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work-list__item:not(:last-child) {
  margin-right: 30px;
}
.work-list__link {
  position: relative;
}
.work-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-discription {
  padding-bottom: 94px;
}

/* section 4 our team*/
.team {
  background-color: var(--second-background-color);
  padding: 94px 0;
}

.team-container__discription {
  margin-bottom: 16px;
  color: var(--paragraph-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-container {
  padding: 30px 0;
}

.team-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 10px;
}
.team-list__item {
  background-color: var(--main-paragraph-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}

/* section 5 - our clients */
.our-clients {
  padding: 94px 0;
}

.clienst-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-box-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.client-box-logo {
  fill: rgb(175, 177, 184);
}

.client-box-link:hover .client-box-logo,
.client-box-link:focus .client-box-logo {
  fill: var(--accent-color);
}

.client-box-link:hover,
.client-box-link:focus {
  border: 1px solid var(--accent-color);
}

.client-box:not(:last-child) {
  margin-right: 30px;
}

.client-box {
  height: 92px;
  width: calc(16.6666666667% - 30px);
}

footer {
  background-color: var(--footer-background-color);
}

address {
  padding-top: 20px;
}

.footer {
  padding: 60px 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.studio-logo {
  color: #FFFFFF;
}

.address {
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contact-info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contact-info:hover, .contact-info:focus {
  color: var(--accent-color);
}

.portfolio {
  padding: 94px 0;
}

.project-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-top: 0px;
}

.flex-element:hover,
.flex-element:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  width: 370px;
  padding: 20px 24px;
}

.portfolio-img {
  display: block;
  width: 100%;
  margin-right: 0px;
}

.discription__text-discription {
  color: var(--paragraph-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
}

.portfolio-container {
  width: 1200px;
  margin-right: 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-element {
  margin-bottom: 30px;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button.list-portfolio {
  padding-left: 0;
  margin-bottom: 50px;
}

.button > .list-portfolio {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.product-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

.flex-element:hover .product-thumb {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product-discription-text {
  margin: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.backdrop {
  position: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* .modal-close-button  */
.modal-close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal-close-button:focus,
.modal-close-button:hover {
  fill: var(--accent-color);
}

/* image-wrapper */
.img-wrapper {
  position: relative;
}

img {
  display: block;
}

.link-hover::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  margin-top: 28px;
  left: 0;
  bottom: -2px;
  opacity: 0;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}

.link:hover::after {
  opacity: 1;
}

.current-portfolio::after, .current-index::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  margin-top: 28px;
  left: 0;
  bottom: -2px;
  opacity: 1;
}

/* Homework6 */
.subscribe {
  margin-left: 93px;
}

.footer-input {
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 295px;
  max-width: 358px;
  outline: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-background-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--main-paragraph-color);
}

.subscribe-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.subscribe-button-svg {
  fill: var(--main-paragraph-color);
  margin-left: 10px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}

.footer-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-text {
  text-transform: none;
  margin: 0px;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-container {
  padding: 40px;
}

.modal-text-dec {
  margin-bottom: 4px;
  text-transform: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-right: auto;
}

textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  width: 448px;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.name, .phone, .mail, .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.name input, .phone input, .mail input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  outline: 0px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}

.comment textarea {
  outline: 0px;
}

.checkbox-text {
  text-transform: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-text-link {
  text-transform: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-button {
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  border: none;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}

.checkbox {
  margin-bottom: 30px;
}

.name {
  position: relative;
}

.modal-svg {
  position: absolute;
  -webkit-transform: translate(12px, 35px);
          transform: translate(12px, 35px);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.name:hover input,
.name:focus input {
  border-color: var(--accent-color);
}

.name:hover .modal-svg,
.name:focus .modal-svg {
  fill: var(--accent-color);
}

.phone:hover input,
.phone:focus input {
  border-color: var(--accent-color);
}

.phone:hover .modal-svg,
.phone:focus .modal-svg {
  fill: var(--accent-color);
}

.mail:hover input,
.mail:focus input {
  border-color: var(--accent-color);
}

.mail:hover .modal-svg,
.mail:focus .modal-svg {
  fill: var(--accent-color);
}

textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition);
  transition: border-color var(--transition);
}

.comment:hover textarea,
.comment:focus textarea {
  border-color: var(--accent-color);
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
}

.checkbox-icon:checked + .icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../img/icon-check.svg);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: contain;
  background-origin: border-box;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=main.css.map */