

html {
    box-sizing: border-box;
}

*,
*::before,
*::after  {
    box-sizing: inherit;
}




body {
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;    
    margin: 0;
}

.container {
    margin-left: 0;
    margin-right: 0;
  width: 1200px;
  margin: 0 auto;
 padding: 0 15px;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__link {
    color: var(--main-text-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
}


.logo__link--footer {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    text-decoration: none;
}

.logo--color {
    color: var(--accent-color);
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .logo-color {
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;

}

.list {
    list-style: none ;
    padding: 0;
    margin: 0;
}

.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ECECEC;
}


.contacts {
    margin-right: 10px;
    
}

.link {
    display: flex;
    align-items: center;

    position: relative;
}

/* Site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}



.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
color: var(--main-text-color);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
padding: 32px 0;
display: block;

transition: color var(--transition);

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link{
color: var(--paragraph-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.3;
letter-spacing: 0.02em;  
text-decoration: none;
padding: 32px 0;

transition: color var(--transition);
}

.contacts use {
    transition: fill var(--transition);
}

.auth-nav .item:not(:last-child) {
    margin-right: 50px;
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item .link:hover,
.auth-nav .item .link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);

}

/* Hero */
.hero {
    padding: 200px 0px;
    background-color: var(--footer-background-color);
    color: var(--main-paragraph-color);
font-style: normal;
text-align: center;
letter-spacing: 0.06em;  
text-transform: uppercase;
max-width: 1600px;
max-height: 600px;
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/Img-background.jpeg);
}


.hero-title {
    max-width: 650px;
    color: var(--main-paragraph-color);
    font-size: 44px;
    margin: 0 auto;
    margin-bottom: 30px;
    /* padding: 200px 452px 280px;
    width: 696px;
    height: 120px; */
}

/* Section 1 */
.title {
    color: #212121;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
margin-top: 0px;
}

/* Section2 features */

.title .discription {
    color: #212121;;
    
}

.discription {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-top: 0px;
margin-bottom: 10px;
}


.our-features {
    padding: 94px 0;
}

.features {
    display: flex;
}

.features .discription__text {
    width: 270px;
}

.features__list:not(:last-child) {
margin-right: 30px;
}


.discription__text {
    color: var(--paragraph-text-color);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
margin-bottom: 0px;
margin-top: 0px;
}

.features__background {
    background-color: rgba(245, 244, 250, 1);
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.features__background {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section 3 work discription */
.work-discription {
   padding-bottom: 94px;
}

/* section 4 our team*/
.team {
background-color: var(--second-background-color);
padding: 94px 0;
}

.team-container__discription {
margin-bottom: 16px;
color: var(--paragraph-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
}

.team-container {
    padding: 30px 0;
}

.team-list__item {
   background-color: var(--main-paragraph-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

.team-list {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
margin: 0 0 10px;
}

.social-media {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
   
}

.social-media__link {
display: flex;
align-items: center;
justify-content: center;
color: rgba(175, 177, 184, 1);
width: 44px;
height: 44px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 1);

transition: background-color var(--transition), fill var(--transition); 
  
}

.social-media__item:hover .social-media__link,
.social-media__item:focus .social-media__link {
    background-color: var(--accent-color);
}

.social-media__item:hover .social-media__icon,
.social-media__item:focus .social-media__icon {
    fill: #FFFFFF;
}


.social-media__item:not(:last-child) {
    margin-right: 10px;
}

.social-media__icon {
    fill: rgba(175, 177, 184, 1);
}

/* section 5 - our clients */
.our-clients {
    padding: 94px 0;
}

.clienst-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    
}

.client-box-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: fill var(--transition); 
  
}

.client-box-logo {
    fill: rgba(175, 177, 184, 1);
    
}


.client-box-link:hover .client-box-logo,
.client-box-link:focus .client-box-logo {
    fill: var(--accent-color);
}

.client-box-link:hover,
.client-box-link:focus {
    border: 1px solid var(--accent-color);
}

   



/* .clienst-list {
    margin-bottom: 94px;
} */

.client-box:not(:last-child) {
    margin-right: 30px;
   
}

.client-box {
    height: 92px;
    width: calc(100% / 6 - 30px);
}

/* footer */
footer {
    background-color: var(--footer-background-color);
}

address {
    padding-top: 20px;
     
}

.footer {
    padding: 60px 0;
}

.social-media-footer {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media__item-footer {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.social-media__item-footer:hover,
.social-media__item-footer:focus {
    background-color: var(--accent-color);
}

.social-media__link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    transition: background-color var(--transition); 
  
}

.social-media__item-footer:not(:last-child){
    margin-right: 10px;
}

.title-footer{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 1);
} 

.social-media__icon-footer {
    fill: #FFFFFF;
}
 
.footer-content {
    display: flex;
}


.social-footer {
    margin-left: 70px;
}

.studio-logo {
    color: #FFFFFF;
}

.address {
    color: #FFFFFF;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.contact-info{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}

.contact-info:hover,
.contact-info:focus {
    color: var(--accent-color);
}

/* portfolio */

.portfolio {
padding: 94px 0;
}


.project-name {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
margin-top: 0px;
}

.flex-element:hover,
.flex-element:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
width: 370px;
padding: 20px 24px;
}

.portfolio-img {
    display: block;
    width: 100%;
    margin-right: 0px;
}


.discription__text-discription {
    color: var(--paragraph-text-color);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
margin-bottom: 0;
margin-top: 0;
}


.portfolio-container {
    width: 1200px;
    margin-right: 0;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-element   {
    margin-bottom: 30px;

}



.container--flex {
    display: flex;
}

.list-portfolio {
    display: flex;
    list-style: none;
   margin-top: 0px;
   margin-bottom: 34px;
   justify-content: center;
}



.button.list-portfolio {
    padding-left: 0;
    margin-bottom: 50px;
}


.button > .list-portfolio{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

/* buttons */
.hero-button {
    background-color: var(--accent-color);
    color: var(--main-paragraph-color);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
border-radius: 4px;
border: solid transparent;
padding: 10px 32px;
/* min-width: 200px; */
text-align: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

transition: background-color var(--transition);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #188ce8;
}

.portfolio-button-current:hover,
.portfolio-button-current:focus {
background-color: #188ce8;

}

.portfolio-button {
    background-color: var(--second-background-color);
color: var(--main-text-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
display: inline-block;
padding: 6px 22px;
border: solid transparent;  
border-radius: 4px;
min-width: 105;
height: 38px;

transition: color var(--transition), background-color var(--transition);

}

.portfolio-button:not(last-child) {
    margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--main-paragraph-color);   
}

.portfolio-button-current {
    color: #fff;
    background-color: var(--accent-color);
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
cursor: pointer;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
min-width: 73px;
height: 38px;
border: solid transparent;  
padding: 6px 22px;
display: inline-block;
margin-right: 8px;
}


.link-current {
    color: var(--accent-color);
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
}

.link.link-current {
    color: var(--accent-color);
}

/* Homework5 */



.thumb{
    position: relative;
    overflow: hidden;
}


.product-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 150, 243, 0.9);
    
transform: translateY(100%);

transition: transform var(--transition);

}

.flex-element:hover .product-thumb{
    transform: translateY(0);
}

.product-discription-text {  

margin: 0;
padding: 63px 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.6;

letter-spacing: 0.03em;

color: #FFFFFF;
   
}



/* modal-window */
 .backdrop {
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);


    opacity: 1;
    visibility: visible;
    pointer-events: initial;

    transition: opacity var(--transition), visibility var(--transition);
 }

 .backdrop.is-hidden {
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
 }

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

min-height: 581px;
min-width: 528px;
     
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;

 }   

/* .modal-close-button  */

.modal-close-button {
display: flex;
position: absolute;
justify-content: center;
align-items: center;
background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 30px;
height: 30px;
border-radius: 50px;
top: 8px;
right: 8px;
padding: 0;
margin: 0;
  
cursor: pointer;
}

.modal-close-button:focus,
.modal-close-button:hover{
    fill: var(--accent-color);
}

/* image-wrapper */

.img-wrapper {
    position: relative; 
}

.img-wrapper__text{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 70px;
margin: 0;
position: absolute;
bottom: 0;
left: 0;
background-color: rgba(47, 48, 58, 0.8);
color: #FFFFFF;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

}
 
img {
    display: block;
}

.link-hover::after {
content: '';

position: absolute;

display: inline-block;
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
margin-top: 28px;

left: 0;
bottom: -2px;

opacity: 0;

transition: opacity var(--transition);
}
 
.link:hover::after {
    opacity: 1; 
}

.current-portfolio::after, .current-index::after {
    content: '';

position: absolute;

display: inline-block;
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
margin-top: 28px;

left: 0;
bottom: -2px;

opacity: 1;
}

/* Homework6 */
.subscribe {
    margin-left: 93px;
}

.footer-input {
margin-right: 12px;
padding-left: 16px;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 295px;

max-width: 358px;

outline: 0px;

border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: var(--footer-background-color)
;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.25;

letter-spacing: 0.03em;
color: var(--main-paragraph-color);
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 200px;

padding-top: 10px;
padding-bottom: 10px;
padding-left: 29px;
padding-right: 28px;

background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;

transition: background-color var(--transition);
} 

.subscribe-button-svg {
    fill: var(--main-paragraph-color);
    margin-left: 10px;
}

.subscribe-button:hover,
.subscribe-button:focus{
background-color: #188ce8;
}

.footer-label {
    display: flex;
}

.modal-text {
text-transform: none;

margin: 0px;
margin-bottom: 12px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.modal-container {

padding: 40px;
}

.modal-text-dec {

margin-bottom: 4px;

text-transform: none;
ont-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color: #757575;

margin-right: auto;
}

textarea {

padding: 12px 16px;
margin-bottom: 20px;

resize: none;
width: 448px;
height: 120px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}

.name, .phone, .mail, .comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name input, .phone input, .mail input {
width: 100%;
height: 40px;
margin-bottom: 10px;
outline: 0px;
padding-left: 35px;

border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

transition: border var(--transition);
}

.comment textarea {
outline: 0px;
}

.checkbox-text {
text-transform: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;

letter-spacing: 0.03em;

color: #757575;
}

.checkbox-text-link {
text-transform: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
    
letter-spacing: 0.03em; 
text-decoration-line: underline;

color: var(--accent-color);
}

.modal-button {

padding-top: 10px;
padding-right: 55px;
padding-bottom: 10px;
padding-left: 56px;

border: none;

background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;

color: #FFFFFF;

transition: background-color var(--transition);
}

.modal-button:hover,
.modal-button:focus{
background-color: #188ce8;
}

.checkbox {
    margin-bottom: 30px;
}


.name {
    position: relative;
}

.modal-svg {
    position: absolute;
    transform: translate(12px, 35px);  
    transition: fill var(--transition);
}

.name:hover input,
.name:focus input{
    border-color: var(--accent-color);
}

.name:hover .modal-svg,
.name:focus .modal-svg {
    fill: var(--accent-color);
}

.phone:hover input,
.phone:focus input{
    border-color: var(--accent-color);
}

.phone:hover .modal-svg,
.phone:focus .modal-svg {
    fill: var(--accent-color);
}

.mail:hover input,
.mail:focus input{
    border-color: var(--accent-color);
}

.mail:hover .modal-svg,
.mail:focus .modal-svg {
    fill: var(--accent-color);
}

textarea {
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

transition: border-color var(--transition);
}

.comment:hover textarea,
.comment:focus textarea{
    border-color: var(--accent-color);
}

.icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 7px;

    
}

.checkbox-icon:checked + .icon {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../img/icon-check.svg );
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: contain;
    background-origin: border-box;
}

.checkbox {
    display: flex ;
    align-items: center;
    justify-content: center;
}

.checkbox-icon {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0 );
   overflow: hidden;
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: center;