.site-nav {
    display: flex;
    margin-left: 93px;
    margin-bottom: 0px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
color: var(--main-text-color);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
text-decoration: none;
padding: 32px 0;
display: block;

transition: color var(--transition);

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}