// другий паршал//

html {
    box-sizing: border-box;
}

*,
*::before,
*::after  {
    box-sizing: inherit;
}




body {
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;    
    margin: 0;
}

.link {
    display: flex;
    align-items: center;
    position: relative;
}

.link-current {
    color: var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link.link-current {
    color: var(--accent-color);
}